/* main*/
#bloc-page{
    width:95%;
    margin: auto;
    padding-top: 25px;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size:1.4em;
    font-weight: bold;

}

h2, h3{ 
    font-size: 1em;
    font-weight: bold;
}

span{
    font-weight: bold;
}

p{
    font-size: 1em;
    font-weight: 400;
}


#logo{
    width: 100px;
}

header{
    display: flex;
    justify-content: space-between;
}


/* partie nav*/
nav ul{
    display: flex;
    list-style-type:none;
    width: 400px;
    justify-content: space-around;
}

nav a{
    font-size: 1em;;
    text-decoration: none;
    color:black;
}

nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding: 40px 10px 0 10px;
}

#inscription{
    color: #0065fc;
    font-weight: bold;
}
 


/* partie formulaire*/


.icon-marker{
    border: solid #f2f2f2 1px;
    border-radius: 15px 0 0 15px;
    background-color:#f2f2f2;
    padding: 17px;
}

#form{    /* partie input+bouton*/
    display: flex;
    flex-direction: row;
    align-items: center;
    border:#f2f2f2 solid 1px; 
    border-radius: 0 15px 15px 0;   
}

#form-button{
    background-color:#0065fc;
    color:white;
    border: solid #0065fc 1px;
    border-radius: 0 15px 15px 0;
    padding: 0 15px 0 15px;
    height: 50px;
    font-size: 1em;    
}

.icon-search{
    display: none;
}

input{
    font-size: 1.3em;
    border: none;
    padding-left:15px;
    height: 45px;
}

#form-section{     /*le bloc formulaire comprenant icone+input+bouton*/
    display: flex;
    height: 50px;
    width:30%;
    margin-top: 35px;
}

/* partie filtres*/

#filter{     /*bloc contenant titre+ 4 filtres*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 30px;
}

.icon-filter{
    border: solid #DEEBFF 2px;
    border-radius: 50%;
    background-color: #DEEBFF;
    text-align: center;
    padding: 10px;
    color: #0065fc;
    margin: -2px 6px -2px -2px;
}

.filter-button{   /* filtre contenant un icone et un titre h3*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #f2f2f2;
    height: 40px;
    border-radius: 30px;
    padding-right: 15px;
}

/* paragraphe info*/

#info{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-top: 15px; 
    font-weight: 300;
    font-size: 0.9em; 
}

.icon-info{
    color: #0065fc;
    border:#f2f2f2 solid 2px;
    border-radius: 50%;
    padding: 7px;
    font-size: 0.7em;
    margin-right: 10px;
}
    

/* partie hebergement*/

.icon-blue-star{          
    color:#0065fc;
    font-size: x-small;
}

.icon-grey-star{
    color: #f2f2f2;
    font-size: x-small;
}

.rating{               /* bloc avec 5 étoiles pour les notes */
    display: flex;
	margin-left: 10px;
    margin-bottom: 5px;
}

#accommodation-popular h1{
    margin: 30px 30px 0 30px;
}

#accommodation-popular h3{
    font-size: 1em;
    margin-left: 30px;
}

#accommodation-popular h2 p{
    margin-left: 10px;
    font-size: 0.9em;
}

.room img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: white;
    border-radius:15px 15px 0 0;
}

.room a{ 
    text-decoration: none;
    color: black;
}

.room{    /*carte chambre: lien contenant photo+h2+p+.rating*/
    display:flex;
    flex-direction: column;
    background-color: white;
    border: white 5px solid;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    height:180px;
	width: 28%; 
	line-height:0.6em;  
	margin: 15px 5px;
}

#room-picture-panel{   /*bloc contenant les 6 cartes chambres*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	align-items: center;
	margin: 10px 5px;
}

.accommodation{      /* bloc hébergement comprenant titre+ 6 cartes chambres+h3*/
    background-color: #f2f2f2;
    border: solid #f2f2f2 1px;
    border-radius: 20px;
    width: 70%;
	height: 555px; 
    margin: 30px 15px 30px 0;  
}

/* section populaire*/

.popular-section h1{
    display:flex;
    justify-content: space-between;
	margin: 30px 30px 0 30px;  
}

.popular-section{          /*section contenant h1+3 cartes populaires*/
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #f2f2f2;
    border: solid #f2f2f2 1px;
    border-radius: 20px;
    width: 30%; 
	height: 555px; 
    margin: 30px 0 30px 15px;  
}

.popular img{
    width: 35%;
    height: 120px;
    object-fit: cover;
    border: white;
    border-radius: 15px 0 0 15px;   
}

.popular a{
	text-decoration: none;
    color: black;
	display: flex;
	width: 100%;
    height: 120px;
}

.popular-name{           /* bloc comprenant le texte a droite de la photo*/
	width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.popular{                          /* bloc "cart populaire" comprenant photo + texte*/
    background-color: white;
    border: white 5px solid;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	margin: 15px 30px;	
}

#accommodation-popular{          /* bloc compenant les deux sections hébergement et popuplaire*/
	display: flex;
	justify-content: space-between;
}

.popular h2{
    margin: 10px 15px 10px 10px;  
}

.popular p{
	margin: 0 5px 25px 10px;
}

/* section activité*/

.big-picture img{                  /* image et lien pour les grandes images activités*/
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	width:270px;
	height:360px;
}
 
.big-picture a{
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 3px 3px rgba(242, 242, 242, 0.7);
	border-radius: 15px;
	width:270px;
	height:400px;
}

.small-picture img{                 /* image et lien pour les petites images activités*/
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	width:270px;
	height:135px;
}

.small-picture a{
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 3px 3px rgba(242, 242, 242, 0.7);
	border-radius: 15px;
	width:270px;
	height:180px;
}

.small-picture{    /* bloc contenant les 2 petites images l'une au dessus de l'autre dans la sectuion activité*/
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#activity-card-panel{          /* bloc contenant les 6 activity cards*/
	display: flex;
    flex-direction: row wrap;
	justify-content: space-between;
	height: 400px;
    width:100%;
}

#activity{         /*section activité comprenant titre +bloc activity-card-panel*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

#activity h2{
    padding-left:15px;
}


/*    partie footer   */

footer{
    width: 100%;
    margin-top: 100px;
    background-color: #f2f2f2;  
}


footer a{
    text-decoration: none;
    color:black; 
}

.footer-list{
    text-align: left;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-left:50px;
    padding-top: 40px;
    font-size: 0.9em;
}

/* media queries format téléphone*/

@media screen and (max-width: 576px) {
    #bloc-page{
        width: 100%;
    }

    #logo{
        margin-left: 20px;
        margin-bottom: 20px;
    }

    header{
        flex-direction: column;
    }

    #inscription{
        position: absolute;
        top: 45px;
        right: 20px;
    } 

    
     
      
    nav ul{
        flex-flow: row wrap;
        width: 100%;
        padding: 0;
    }


    nav a:hover{
        
        color: #0065fc;
        border-top: none;
        border-bottom: 2px solid #0065fc;
        padding: 10px 0;
    }

    #inscription:hover{
        padding: 0;
        border-bottom: none;
        
    }

    #search-section{
        margin: 20px;
    }


    /* bloc formulaire rechercher*/
    #form-section{
        width: 100%;
    }
    
    #form-button span{
        display: none;
    }

    .icon-search{
        display:inline
    }

    #form-button{
        border-radius: 15px;
        margin-left: -2px;    
    }


    /*bloc filtres*/
    #filter{
        display: flex;
        flex-flow: row wrap;
        align-content:flex-start;
        width: 100%;
    }

    #filter h2{
        align-self: flex-start;
        margin-right: 300px;
    }

    .filter-button{
        margin: 10px 25px 10px 0;
    }


    /*bloc info*/
    #info{                          
        margin: 15px 0 10px 0;
        font-size: 1em;
        align-items: baseline;
        
    }


    /* bloc populaire et hébergement*/
    #accommodation-popular{
        flex-direction: column-reverse;
        width: 100%;
    }

    /*section populaire*/
    .popular-section{
        width:100%;
        height: 600px;
        margin: auto;
        border-radius: 0;
    }

    .popular-section h1{
        font-size: 1.4em;  
    }

    /*section hébergement*/
    .accommodation{        
        width:100%;
        height: 1400px;
        margin: auto;
        background-color: white;
        border: none;
    }

    #room-picture-panel{
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        padding: 20px;
    }

    .room{
        width: 95%;
        margin: auto;
    }


    /*section activités*/
    .big-picture img{
        width: 100%;
        height:130px;
    }

    .small-picture img{
        width: 100%;
        height:130px;
    }

    .small-picture a{
        width: 100%;
        height: 195px;
    }

    .big-picture a{
        width: 100%;
        height: 195px;
        
    }

    #activity-card-panel{
        flex-direction: column;
        width: 100%;
        height: 1350px;
        
    }


    /* footer*/     
    .footer-section{
        width: 95%;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 30px;
        height: 450px;
        font-size: 1em;
    }

    
    
}
















